<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_Us</title>
    <link rel="stylesheet" href="../static/styel1.css">
</head>

<body>
    <header>
        <h1>NOVAMIND </h1>
    <nav>
        <a href="contact">CONTACT</a>
        <a href="chatbot">CHATBOT   </a>
        <a href="resources">RESOURCES</a>
        <a href="index">TEST</a>
        <!-- <a href="account">ACCOUNT</a> -->
        <a href="/">HOME</a>
        
    </nav>
    </header>

    <h2>DEVELOPERS</h2>
    <h1>  SHOPNOJO SANYAL  <br>  +91 7278627487 |  shopnojosanyal07@gmail.com</h1>
    <h1>  -  </h1>
    <h1>  TUHINA BANERJEE    <br>  +91 8981218381  |  tuhinabanerjee134@gmail.com
    </h1>
    <h1>  -  </h1>
    <h1>  SHUBAJIT DAS    <br>  +91 9830838971  |  subhajitdas2133@gmail.com
    </h1>
    <h1>  -  </h1>
    <h1>  MEGHNA BANERJEE    <br>     +91 9051730600  |  meghnabanerjee1208@gmail.com
    </h1>
    <h1>  -  </h1>
<BR>
    <br>
    <br>
</BR>
    <footer>
        <a href="faq">FAQ</a>
        <a href="contact">Contact Us</a>
        <a href="termsandconditions">Terms of Use</a>
        <a href="privacy">Privacy Policy</a>
        <a href="/">&copy; 2024 | NOVAMIND</a>
    </footer>
         
</body>
</html>