<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy</title>
    <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
<strong>Privacy Policy</strong> <p>
    We, namely Shopnojo Sanyal, Rajatava Das, Subhajit Das and Sagnik Ghosh, have built this website to help 
    young, budding students who are preparing for all India entrance examinations and to get into the course of their choice. 
    This website features a fully functional chatbot and resources of some books written by renowned authors for all required subjects.
</p> <p>
    This page is used to inform visitors regarding our
    policies with the collection, use, and disclosure of Personal
    Information if anyone decided to use our Service.
</p> <p>
    If you choose to use our Service, then you agree to
    the collection and use of information in relation to this
    policy.
</p> <p>
    The terms used in this Privacy Policy have the same meanings
    as in our Terms and Conditions unless otherwise defined in this Privacy Policy.
</p> <p><strong>Information Collection and Use</strong></p> <p>
    For a better experience, while using our Service, we
    may require you to provide us with certain personally
    identifiable information. The information that
    we request will be retained on your device and is not collected by us in any way.
</p> <div><p>
    The website does not use third party services that may collect
    information used to identify you.
</p> <p>
    Link to privacy policy of third party service providers used
    by the website
</p> <ul><!----><li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank" rel="noopener noreferrer">AdMob</a></li><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></ul></div> <p><strong>Log Data</strong></p> <p>
    We want to inform you that whenever you
    use our Service, in a case of an error in the website
    we do not collect data and information (through third party
    products) on your phone called Log Data. This Log Data may
    include information such as your device Internet Protocol
    (“IP”) address, the configuration of the website when utilizing our Service,
    the time and date of your use of the Service, and other
    statistics.
</p> <p><strong>Cookies</strong></p> <p>
    Cookies are files with a small amount of data that are
    commonly used as anonymous unique identifiers. These are sent
    to your browser from the websites that you visit and are
    stored on your device's internal memory.
</p> <p>
    This Service does not use these “cookies” explicitly. However,
    the website may use third party code and libraries that use
    “cookies” to collect information and improve their services.
    You have the option to either accept or refuse these cookies
    and know when a cookie is being sent to your device. If you
    choose to refuse our cookies, you may not be able to use some
    portions of this Service.
</p> <p><strong>Service Providers</strong></p> <p>
    we do not employ any third-party companies and
    individuals on our website.
</p> <ul><li>To facilitate our Service;</li> <li>To provide the Service on our behalf;</li> <li>To perform Service-related services; or</li> <li>To assist us in analyzing how our Service is used.</li></ul> <p>
    we want to inform users of this Service
    that no third parties have access to your Personal
    Information. 
    All your personal details are secured with us on this website.
</p> <p><strong>Security</strong></p> <p>
    we value your trust in providing us your
    Personal Information, thus we are striving to use commercially
    acceptable means of protecting it. But remember that no method
    of transmission over the internet, or method of electronic
    storage is 100% secure and reliable, and we cannot
    guarantee its absolute security.
</p> <p>This policy is effective as of 2024-10-02</p> <p><strong>Contact Us</strong></p> <p>
    If you have any questions or suggestions about our
    Privacy Policy, do not hesitate to contact me at shopnojosanyal07@gmail.com.
</p> <p>
    
</body>
</html>